.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.one {
  background: #a7e5fd;
}
.two {
  background: #cfa7fd;
}
.three {
  background: #f68484;
}
.four {
  background: #f6a271;
}
