.banner {
  position: relative;
  @include WHSize();
  overflow: hidden;
  .background-image-bridge {
    @include bannerImages("./../assets/goldent_gate.jpg");
  }
  .man {
    @include bannerImages("./../assets/upper.png", 80%);
    top: 20%;
    // Do not exceed during the animation
    overflow: hidden;
  }
  .text {
    @include bannerImages("./../assets/text.png");
    top: 32%;
    mix-blend-mode: overlay;
  }
  .clouds {
    @include bannerImages("./../assets/clouds.png");
  }
}
