.banner {
  position: relative;
  @include WHSize();
  overflow: hidden;
  .background-image-bridge {
    @include WHSize();
    position: absolute;
    background: url("./../assets/goldent_gate.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .man {
    position: absolute;
    @include WHSize(80%);
    background: url("./../assets/upper.png") no-repeat 50% 50%;
    background-size: cover;
    top: 20%;
    // Do not exceed during the animation
    overflow: hidden;
  }
  .text {
    position: absolute;
    @include WHSize();
    top: 32%;
    background: url("./../assets/text.png") no-repeat 50% 50%;
    background-size: cover;
    mix-blend-mode: overlay;
  }
}
