.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .background-image-bridge {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url("./../assets/goldent_gate.jpg") no-repeat;
    background-size: cover;
  }
}
